:root {
    --footer-padding: 2rem;
    --footer-title-font-size: 1.5rem;
    --footer-link-font-size: 1rem;
    --footer-border-color: rgba(255, 255, 255, 0.1);
}

.footer {
    color: var(--footer-text);
    padding: var(--footer-padding);
    border-top: 1px solid var(--footer-border-color);
    text-align: center;
    border-top: var(--clean-border);
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
}

.footer-logo {
    text-align: left;
    flex: 1;
}

.footer-title {
    font-size: var(--footer-title-font-size);
    font-family: var(--typewriter-font);
}

.footer-links {
    text-align: left;
    flex: 1;
    padding-bottom: 1rem;
}

.footer-links h4 {
    font-size: var(--footer-link-font-size);
    color: var(--accent);
    font-family: var(--writing-font);
}

.social-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.social-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    font-size: var(--footer-link-font-size);
    color: var(--footer-text);
    transition: color 0.3s ease;
}

.social-link:hover {
    color: var(--accent);
}

.footer-bottom {
    border-top: var(--clean-border);
    padding-top: 1rem;
    font-size: 0.9rem;
}

@media only screen and (max-width: 600px) {
    .footer-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-logo,
    .footer-links {
        width: 100%;
    }

    .social-link {
        justify-content: flex-start;
    }
}